In [13]:
import pandas as pd
import seaborn as sns
import numpy as np
!pip install pandasql
import pandasql as psql
pd.options.display.max_rows = 1000

# Data Try Coding

## Titanic Data

The data we will be using comes from the [Titanic Kaggle competition](https://www.kaggle.com/c/titanic/data). This dataset records key elements (including survival) from a sampling of passengers onboard the Titanic. Use the `Data Dictionary` section (from the link above) to get information about each column. The goal of this exercise is to use Dataframes and SQL to explore and manipulate the data to answer questions about passengers on the Titanic.

## Instructions

Upload this jupyter notebook to [google collab](https://colab.research.google.com/) and upload the `titanic.csv` dataset to to the `sample_data` folder. Run the top cell to make sure you are able to run all the packages required for this exercise.

## Load Data

##### 1. [Read](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) in the data (`titanic_data.csv`) as a dataframe, set it to a variable `data`, and get the [shape](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.shape.html) of the dataframe. The shape shows the number of columns and rows.

In [20]:
data = pd.read_csv('/content/sample_data/<add filename>')

In [19]:
assert data.shape[0] == 891
assert data.shape[1] == 12

##### 2. Display the first 10 rows of the dataset. Hint look at the [head](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.head.html) function.

In [ ]:
# add code here

## Summary Statistics

##### 1. Display the column data types and number of non-null records. (Hint: look at [info](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.info.html) function).

In [ ]:
# add code here

##### 2. Is there a column with a large proportion of null values? What percentage of that column has null values? [Round](https://www.w3schools.com/python/ref_func_round.asp) down to the nearest full percent. Set you value to a variable `percentage`.

In [ ]:
percentage = # add code here
print("Percentage of Cabin column values that are null: %s%%" % percentage)

In [ ]:
assert percentage == 77

##### 3. Look at a summary of descriptive statistics which include count, mean, std, min, 25%, 50%, 75%, and max. (Hint look at the [describe](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html) function)

In [ ]:
# add code here

##### 4. Are there any interesting observations from these descriptive statistics? Are there any columns missing from the dataset that are not in the descriptive statistics? Why?

Write your answer here:

##### 5. Look at a summary of descriptive statistics for just male passengers.

In [ ]:
query = """
select *
from data
where <insert SQL here>
"""
male_data = psql.sqldf(query)
male_data.describe()

## Data Exploration

##### 1. Create a dataframe for the number of unique values for each column using SQL syntax. Set it to a variable `unique_columns`.

In [ ]:
query = """
select 
    count(distinct PassengerId) as Count_PassengerId,
    <insert SQL here>
from data
"""
unique_columns = psql.sqldf(query)
unique_columns

In [ ]:
assert list(unique_columns['Count_PassengerId'])[0] == 891
assert list(unique_columns['Count_Survived'])[0] == 2
assert list(unique_columns['Count_Pclass'])[0] == 3
assert list(unique_columns['Count_Name'])[0] == 891
assert list(unique_columns['Count_Sex'])[0] == 2
assert list(unique_columns['Count_Age'])[0] == 88
assert list(unique_columns['Count_SibSp'])[0] == 7
assert list(unique_columns['Count_Parch'])[0] == 7
assert list(unique_columns['Count_Ticket'])[0] == 681
assert list(unique_columns['Count_Fare'])[0] == 248
assert list(unique_columns['Count_Cabin'])[0] == 147
assert list(unique_columns['Count_Embarked'])[0] == 3

##### 2. Do these unique values confirm any of your observations from the descriptive statistics in the section above?

Write your explanation here:

##### 3. How many of the passengers are male? How many are female? Create a single dataframe using SQL syntax and set it to a variable `gender_breakdown`.

In [ ]:
query = """
select
    Sex,
    count(<add column here>) as Count_PassengerId
from data
group by Sex
"""
gender_breakdown = psql.sqldf(query)
gender_breakdown

In [ ]:
assert list(gender_breakdown.loc[gender_breakdown['Sex'] == 'female']['Count_PassengerId'])[0] == 314
assert list(gender_breakdown.loc[gender_breakdown['Sex'] == 'male']['Count_PassengerId'])[0] == 577

##### 4. How many male passengers survived? How many female passengers survived? Create a single dataframe that answers both questions and set it to a variable `gender_survival`.

In [ ]:
query = """
select
    Sex,
    <add column here>,
    count(<add column here>) as Count_PassengerId
from data
group by Sex, Survived
"""
gender_survival = psql.sqldf(query)
gender_survival

In [ ]:
female_dead = sorted(list(gender_survival.loc[(gender_survival['Sex'] == 'female')]['Count_PassengerId']))[0]
female_survived = sorted(list(gender_survival.loc[(gender_survival['Sex'] == 'female')]['Count_PassengerId']))[1]
male_dead = sorted(list(gender_survival.loc[(gender_survival['Sex'] == 'male')]['Count_PassengerId']))[1]
male_survived = sorted(list(gender_survival.loc[(gender_survival['Sex'] == 'male')]['Count_PassengerId']))[0]

assert female_dead == 81
assert female_survived == 233
assert male_dead == 468
assert male_survived == 109

##### 5. Create a [bar graph](https://seaborn.pydata.org/generated/seaborn.barplot.html) to show the gender survival breakdown calculated above. Feel free to play with the color schemes and other customizable options.

In [ ]:
plot = sns.barplot(x = '<add column name>', y = 'Count_PassengerId', hue = 'Survived', data = <add dataframe variable>, order = ['male', 'female'])

##### 6. Add a column called `age_group` to `data` that breaks down the passenger ages according to the rules below. Set this new dataframe to a variable `data_with_age_grouping`.
- when Age is null then 'unknown'
- when Age < 1 then 'under 1'
- when Age < 5 then 'under 5'
- when Age < 18 then 'under 18'
- when Age < 24 then 'under 24'
- when Age < 44 then 'under 44'
- when Age < 65 then 'under 65'
- when Age >= 65 then 'over 65'

In [ ]:
query = """
select
    *,
    case
      when Age is null then 'unknown'
      when Age < 1 then 'under 1'
      <fill in SQL here>
      else 'over 65'
    end as age_group
from data
"""
data_with_age_grouping = psql.sqldf(query)
data_with_age_grouping.head()

In [ ]:
passenger_6 = list(data_with_age_grouping.loc[data_with_age_grouping['PassengerId'] == 6]['age_group'])[0]
passenger_832 = list(data_with_age_grouping.loc[data_with_age_grouping['PassengerId'] == 832]['age_group'])[0]
passenger_828 = list(data_with_age_grouping.loc[data_with_age_grouping['PassengerId'] == 828]['age_group'])[0]
passenger_831 = list(data_with_age_grouping.loc[data_with_age_grouping['PassengerId'] == 831]['age_group'])[0]
passenger_834 = list(data_with_age_grouping.loc[data_with_age_grouping['PassengerId'] == 834]['age_group'])[0]
passenger_823 = list(data_with_age_grouping.loc[data_with_age_grouping['PassengerId'] == 823]['age_group'])[0]
passenger_821 = list(data_with_age_grouping.loc[data_with_age_grouping['PassengerId'] == 821]['age_group'])[0]
passenger_631 = list(data_with_age_grouping.loc[data_with_age_grouping['PassengerId'] == 631]['age_group'])[0]

assert passenger_6 == 'unknown'
assert passenger_832 == 'under 1'
assert passenger_828 == 'under 5'
assert passenger_831 == 'under 18'
assert passenger_834 == 'under 24'
assert passenger_823 == 'under 44'
assert passenger_821 == 'under 65'
assert passenger_631 == 'over 65'

##### 7. Create a [plot](https://seaborn.pydata.org/generated/seaborn.countplot.html#seaborn.countplot) that visualizes the number of passengers in each respective age_group. Feel free to play with the color schemes and other customizable options.

In [ ]:
sns.set_theme(style = 'darkgrid')
sns.set(rc={'figure.figsize':(10,6)})

g = sns.countplot(x = '<add column here>', data = <add dataframe variable>, order=('unknown','under 1', 'under 5', 'under 18', 'under 24', 'under 44', 'under 65', 'over 65'))

##### 8. Create a dataframe that answers: Within each age_group how many passengers survived and died? What was their average fare? Set this dataframe to a variable `age_grouping_aggregation`.

In [ ]:
query = """
select
    <fill in SQL here>,
    avg(Fare) as Average_Fare
from data_with_age_grouping
group by age_group, Survived
order by age_group, Survived
"""
age_grouping_aggregation = psql.sqldf(query)
age_grouping_aggregation

In [ ]:
under_18_passenger_counts = sorted(list(age_grouping_aggregation.loc[age_grouping_aggregation['age_group'] == 'under 18']['Count_PassengerId']))
under_18_passenger_avg_fares = sorted(list(age_grouping_aggregation.loc[age_grouping_aggregation['age_group'] == 'under 18']['Average_Fare']))
over_65_passenger_counts = sorted(list(age_grouping_aggregation.loc[age_grouping_aggregation['age_group'] == 'over 65']['Count_PassengerId']))

assert under_18_passenger_counts == [34, 39]
assert under_18_passenger_avg_fares == [22.938892307692306, 39.32267352941175]
assert over_65_passenger_counts == [1, 10]

## Optional Challenge

##### Did the port (`Embarked` column) the passengers embarked from make a difference in their survival? Provide a percentage of passengers that survived from `Embarked` C. (Hint: this may take a couple of steps)

In [1]:
# add code here

##### What slice of data do you think had the highest survival rate? Provide a percentage of survival for that slice. For ex. passengers that were `pClass` 3, females, over 65 could be an interesting subset of the data.

In [2]:
# add code here

##### Are there any other columns you would like to create by using data in other columns (similar to what we did with age groupings)? If so, add this new column on to the dataset.

In [3]:
# add code here